.skills{
  width: 20vw;
}
.exp {
  margin-top: -12px;
}
.resume-project {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  width: 75%;
}
.resume-project-mobile {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.condense {
  gap: -5px;
}